.row {
  margin-left: 0;
  margin-right: 0;
}
.banner1 {
  width: 100%;
  height: 600px;
  background-image: url("../img/home/unsplash/ian-schneider-66374-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.karibu {
  color: #33ffff;
  font-family: 'Acumin Pro';
  font-weight: 900;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  font-size: 16em;
}
.img2{
  width: 600px;
  height: 600px;
  resize: inherit;

}
