body {
  background-repeat:no-repeat;
  background-size: cover;
  background-image: url(../image/contact.jpeg)

}
h1 {
  font-size: 40px;

}
.well {
  font-size: 20px;
  color: teal;
  opacity: 0.9;

}
#text{
  color: black;
  font-size:50px;
  display: none;
}

#address {
  font-family: 'Acumin Pro';
  font-weight: bold;
  font-style: normal;
  color: #ff3333;
}
/* .static{
  position: fixed;
} */
