body {
  background-repeat:no-repeat;
  background-size: cover;
  background-image: url(../image/contact.jpeg)

}
h1 {
  font-size: 40px;
  
}
.well {
  font-size: 20px;
  color: teal;
  opacity: 0.9;

}
