    /*
    Flaticon icon font: Flaticon
    Creation date: 14/11/2018 08:47
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-like:before { content: "\f100"; }
.flaticon-002-like-1:before { content: "\f101"; }
.flaticon-003-like-2:before { content: "\f102"; }
.flaticon-004-like-3:before { content: "\f103"; }
.flaticon-005-mail:before { content: "\f104"; }
.flaticon-006-magnifying-glass:before { content: "\f105"; }
.flaticon-007-target:before { content: "\f106"; }
.flaticon-008-movie:before { content: "\f107"; }
.flaticon-009-mobile:before { content: "\f108"; }
.flaticon-010-view:before { content: "\f109"; }
.flaticon-011-like-4:before { content: "\f10a"; }
.flaticon-012-photo:before { content: "\f10b"; }
.flaticon-013-camera:before { content: "\f10c"; }
.flaticon-014-thumbs-up:before { content: "\f10d"; }
.flaticon-015-target-1:before { content: "\f10e"; }
.flaticon-016-thumb-up:before { content: "\f10f"; }
.flaticon-017-network:before { content: "\f110"; }
.flaticon-018-comment:before { content: "\f111"; }
.flaticon-019-mobile-1:before { content: "\f112"; }
.flaticon-020-like-5:before { content: "\f113"; }
.flaticon-021-trophy:before { content: "\f114"; }
.flaticon-022-medal:before { content: "\f115"; }
.flaticon-023-twitter:before { content: "\f116"; }
.flaticon-024-promotion:before { content: "\f117"; }
.flaticon-025-movie-1:before { content: "\f118"; }
.flaticon-026-comment-1:before { content: "\f119"; }
.flaticon-027-gamer:before { content: "\f11a"; }
.flaticon-028-connection:before { content: "\f11b"; }
.flaticon-029-comment-2:before { content: "\f11c"; }
.flaticon-030-like-6:before { content: "\f11d"; }
.flaticon-031-mobile-2:before { content: "\f11e"; }
.flaticon-032-database:before { content: "\f11f"; }
.flaticon-033-twitter-1:before { content: "\f120"; }
.flaticon-034-keyboard:before { content: "\f121"; }
.flaticon-035-placeholder:before { content: "\f122"; }
.flaticon-036-cloud:before { content: "\f123"; }
.flaticon-037-cloud-1:before { content: "\f124"; }
.flaticon-038-photo-1:before { content: "\f125"; }
.flaticon-039-comment-3:before { content: "\f126"; }
.flaticon-040-cloud-2:before { content: "\f127"; }
.flaticon-041-computer:before { content: "\f128"; }
.flaticon-042-gender:before { content: "\f129"; }
.flaticon-043-viewer:before { content: "\f12a"; }
.flaticon-044-global:before { content: "\f12b"; }
.flaticon-045-mobile-phone:before { content: "\f12c"; }
.flaticon-046-like-7:before { content: "\f12d"; }
.flaticon-047-like-8:before { content: "\f12e"; }
.flaticon-048-thumb-up-1:before { content: "\f12f"; }
.flaticon-049-lock:before { content: "\f130"; }
.flaticon-050-bookmark:before { content: "\f131"; }
    
    $font-Flaticon-001-like: "\f100";
    $font-Flaticon-002-like-1: "\f101";
    $font-Flaticon-003-like-2: "\f102";
    $font-Flaticon-004-like-3: "\f103";
    $font-Flaticon-005-mail: "\f104";
    $font-Flaticon-006-magnifying-glass: "\f105";
    $font-Flaticon-007-target: "\f106";
    $font-Flaticon-008-movie: "\f107";
    $font-Flaticon-009-mobile: "\f108";
    $font-Flaticon-010-view: "\f109";
    $font-Flaticon-011-like-4: "\f10a";
    $font-Flaticon-012-photo: "\f10b";
    $font-Flaticon-013-camera: "\f10c";
    $font-Flaticon-014-thumbs-up: "\f10d";
    $font-Flaticon-015-target-1: "\f10e";
    $font-Flaticon-016-thumb-up: "\f10f";
    $font-Flaticon-017-network: "\f110";
    $font-Flaticon-018-comment: "\f111";
    $font-Flaticon-019-mobile-1: "\f112";
    $font-Flaticon-020-like-5: "\f113";
    $font-Flaticon-021-trophy: "\f114";
    $font-Flaticon-022-medal: "\f115";
    $font-Flaticon-023-twitter: "\f116";
    $font-Flaticon-024-promotion: "\f117";
    $font-Flaticon-025-movie-1: "\f118";
    $font-Flaticon-026-comment-1: "\f119";
    $font-Flaticon-027-gamer: "\f11a";
    $font-Flaticon-028-connection: "\f11b";
    $font-Flaticon-029-comment-2: "\f11c";
    $font-Flaticon-030-like-6: "\f11d";
    $font-Flaticon-031-mobile-2: "\f11e";
    $font-Flaticon-032-database: "\f11f";
    $font-Flaticon-033-twitter-1: "\f120";
    $font-Flaticon-034-keyboard: "\f121";
    $font-Flaticon-035-placeholder: "\f122";
    $font-Flaticon-036-cloud: "\f123";
    $font-Flaticon-037-cloud-1: "\f124";
    $font-Flaticon-038-photo-1: "\f125";
    $font-Flaticon-039-comment-3: "\f126";
    $font-Flaticon-040-cloud-2: "\f127";
    $font-Flaticon-041-computer: "\f128";
    $font-Flaticon-042-gender: "\f129";
    $font-Flaticon-043-viewer: "\f12a";
    $font-Flaticon-044-global: "\f12b";
    $font-Flaticon-045-mobile-phone: "\f12c";
    $font-Flaticon-046-like-7: "\f12d";
    $font-Flaticon-047-like-8: "\f12e";
    $font-Flaticon-048-thumb-up-1: "\f12f";
    $font-Flaticon-049-lock: "\f130";
    $font-Flaticon-050-bookmark: "\f131";